@font-face {
  font-family: 'Be Vietnam';
  src:  url('Be_Vietnam/BeVietnam-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
*{
	font-family: Be Vietnam;
}

.header-bg{
	left: 0px;
	top: 0px;
	background: linear-gradient(180deg, #0CBF34 0%, #00721C 100%);
	padding-top: 30px;
}

.icheck-btn{
	background: linear-gradient(180deg, #F9EE00 0%, #FFAE08 100%);
	border-radius: 6px;
	color: #000000;
}
.icheck-btn:focus{
	outline: none
}
.icheck-btn:focus-visible {
	outline: none
}

.qr-tutorial{
	padding-right: 50px;
	color: #fff;
	font-size: 14px;
}

.qr-tutorial:hover{
	cursor:pointer;
	color: #fff;
}

.checkin{
	color:#fff;
	padding-top: 165px;
}

.checkin-title-1{
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	text-transform: capitalize;
	background: -webkit-linear-gradient(#F9EE00, #FFAE08);
				  -webkit-background-clip: text;
				  -webkit-text-fill-color: transparent;
	margin-bottom: 0;
	display: inline-block;
}

.title-line{
	background: url(../images/line-title.png);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    width: 35%;
    height: 16px;
    background-position-y: 8px;
    display: inline-block;
    margin-left: 10px;
}

.checkin-title-2{
	font-style: normal;
	font-weight: 800;
	font-size: 45px;
	
	text-transform: capitalize;
	background: -webkit-linear-gradient(#F9EE00, #FFAE08);
				  -webkit-background-clip: text;
				  -webkit-text-fill-color: transparent;
	margin-bottom: 20px;
}

.checkin ul {
	list-style-type: none;
	font-size: 16px;
}

.checkin ul li {
	text-indent: -20px;
}

.checkin ul li:before {
	content: '';
	display: inline-block;
	height: 15px;
	width: 15px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background: url("../images/style-li.png");
	
	margin-right: 5px;
}

.checkin-qr-img{
	max-width: 100%;
}

#fixedContainer {
	width: 100%;
    height: 124px;
    z-index: 0;
    margin-top: -77px;
    background: url(../images/fixedContainer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.advantages-checkin{
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 44px;
	text-align: center;
	text-transform: capitalize;
	color: #011E48;
}

.bg-advantages-title{
	height: 24px;
	background: url("../images/bg-advantages-title.png");
	background-repeat: no-repeat;
	background-position: center;
	margin-top:12px;
}

.advantages-item-icon{
	width: 150px;
    height: 150px;
	margin: 0 auto;
}

.advantages-item-text{
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: rgba(0, 0, 0, 0.87);
	margin-top: 20px;
}

.advantages-icon-1{
	background: url("../images/advantages-icon-1.png");
	background-repeat: no-repeat;
}
.advantages-icon-2{
	background: url("../images/advantages-icon-2.png");
	background-repeat: no-repeat;
}
.advantages-icon-3{
	background: url("../images/advantages-icon-3.png");
	background-repeat: no-repeat;
}
.advantages-icon-4{
	background: url("../images/advantages-icon-4.png");
	background-repeat: no-repeat;
}

.tutor-san-qr-title{
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 44px;
	text-transform: capitalize;

	color: #000000;
}

.bg-virus{
	width: 80px;
    height: 100px;
    background: url(../images/virus.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    z-index: 999;
    top: -48px;
    left: -15px;
}

.login{
	height: 472px;
    background: url(../images/bg-login.png);
    background-repeat: no-repeat;
    background-position-x: -163px;
    background-color: rgb(3,107,50);
}

.login-title{
	font-family: Be Vietnam;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
	margin-top: 130px;
}

.bg-login-title{
	height: 24px;
	background: url("../images/qr-bottom.png");
	background-repeat: no-repeat;
	background-position: center;
	margin-top:12px;
}

.login-form{
	margin-top: 40px;
}

.login-form input{
	height: 45px;
}
.login-form button{
	background: transparent;
	font-family: Be Vietnam;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	text-align: center;
    width: 100%;
    height: 100%;
	color: rgba(0, 0, 0, 0.87);
}

.button-otp{
	background: linear-gradient(180deg, #F9EE00 0%, #FFAE08 100%);
	border-radius: 0px 6px 6px 0px;
	width: 25%;
	border: none;
	padding: 0;
}

.footer{
	padding-top: 60px;
	padding-bottom: 50px;
	position: relative;
}

.logo-footer{
	background: url(../images/logo-footer.png);
    background-repeat: no-repeat;
    width: 190px;
    height: 64px;
}

.icheck-name {
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 29px;
	color: #06182A;
	margin-top: 10px;
}

.footer-qrcode{
	background: url(../images/footer-qrcode.png);
	background-repeat: no-repeat;
	height: 150px;
    width: 150px;
}

.appstore{
	background: url(../images/footer-appstore.png);
	background-repeat: no-repeat;
	width: 183px;
    height: 63px;
}

.ggplay{
	background: url(../images/footer-ggplay.png);
	background-repeat: no-repeat;
	width: 183px;
    height: 63px;
	margin-top: 20px;
}

.footer .branch-name{
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 29px;
	color: #03602E;
}

.footer .branch-address{
	font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-transform: capitalize;
    display: inline-flex;
}

.icon-location{
	background: url(../images/location.png);
    background-repeat: no-repeat;
    width: 36px;
    height: 39px;
    display: inline-block;
    background-position-y: 2px;
}

.branch-address p{
	font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 26px;
    text-transform: capitalize;
    display: inline-flex;
	margin-top: 0;
	color:#06182A;
}

.icon-phone{
	background: url(../images/icon-phone.png);
    background-repeat: no-repeat;
	width: 47px;
    height: 39px;
}

.phone-mail-contect{
	width: 50%;
    margin: 0;
    padding: 0;
	
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: #06182A;
}

.bg-virus-right{
	width: 47px;
    height: 100px;
    background: url(../images/virus-right.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    z-index: 999;
    top: 130px;
    right: 0;
}

.work-wrap .img {
    height: 300px;
}

.owl-carousel .owl-dots .owl-dot {
    display: block;
}

.owl-carousel .owl-dots .owl-dot {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 50%;
    background: transparent;
    position: relative;
    margin-bottom: 40px;
	background: url(../images/dot-step-active.png);
}

.owl-carousel .owl-dots .owl-dot:before{
	background: url(../images/dot-step.png);
}

.owl-carousel .owl-dots .owl-dot:last-child{
	background: url(../images/dot-step.png);
}

.owl-carousel .owl-dots {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-right: -40px;
}

.text-dot{
	font-size: 16px;
	line-height: 23px;
	color: rgba(0, 0, 0, 0.87);
	position: absolute;
	margin-right: -40px;
}

.tutor-step{
	width: 100px;
    height: 140px;
	
}

.tutor-active {
	background: url(../images/tutorial-step-active.png);
	background-repeat: no-repeat;
}

.tutor-unactive{
	background: url(../images/tutorial-step.png);
	background-repeat: no-repeat;
}

.tutor-last{
	background: url(../images/tutorial-step-noline.png);
	background-repeat: no-repeat;
}

.tutor-step span {
	font-size: 16px;
	line-height: 23px;
	
	position: absolute;
    
}

.step-1{
	top: 167px;
    left: 40px;
	color: #FFFFFF;
}
.step-2{
	top: 307px;
    left: 40px;
	color: #33B44A;
}
.step-3{
	top: 447px;
    left: 40px;
	color: #33B44A;
}
.step-4{
	top: 588px;
    left: 40px;
	color: #33B44A;
}

.bg-phone{
	background: url(../images/mb.png);
	background-repeat: no-repeat;
	height: 782px;
	background-position-x: 20px;
}

.contact-info{
	width: 100%; 
	display: inline-flex;
	padding-top: 10px;
}

/*
@media (min-width: 768px){
	.advantages-item-text{
		max-width: 42%;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 50px;
	}
}
*/

@media (max-width: 991px) {
	.qr-tutorial{
		font-size: 18px;
	}
	
	.btn{
		font-size: 16px;
	}
	
	.checkin{
		padding-top: 65px;
	}
	
	.checkin-title-1{
		font-size: 40px;
	}
	
	.checkin-title-2{
		font-size: 52px;
	}
	
	.checkin ul {
		font-size: 23px;
	}
	
	.advantages-checkin{
		font-size: 33px;
	}
	
	.advantages-item-text{
		font-size: 23px;
	}
	
	.tutor-san-qr-title{
		font-size: 37px;
	}
	
	.text-dot{
		font-size: 23px;
	}
	
	.login-title{
		font-size: 31px;
	}
	.login-form button{
		font-size: 20px;
	}
	.form-control{
		font-size: 19px;
	}
	
	.contact-info{
		display: block;
	}
	
	.phone-mail-contect{
		width:100%;
	}
}