html{scroll-behavior: smooth;}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    font-size: 16px;
    background: url("../images/new_landing_page/fullbg.png") no-repeat;
    background-size: cover;
}
a, a:hover {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}
.feature-list-wrapper {
    align-self: center;
}
h3 {
    font-size: 52px;
    margin-bottom: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}
.section-1{
    margin-bottom: 65px;
}
.giai-phap {
    color: #fbb93e;
    text-align: right;
    margin-bottom: 56px;
}
.banner1 {
    background: url(../images/new_landing_page/banner.png) no-repeat center;
    background-size: 100%;
    background-position: 0 -45px;
}
.banner-1 {
    opacity: 0;
}
.feature-list {
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
}
.feature-list li {
    padding-right: 55px;
    font-size: 26px;
    position: relative;
    color: #fff;
    letter-spacing: 1px;
}
.feature-list li:after {
    content:"";
    background: url("../images/new_landing_page/icon-list.png") no-repeat;
    background-size: cover;
    width: 50px;
    height: 58px;
    position: absolute;
    right: 0;
    top: -5px;

}
.feature-list li:first-child, .feature-list li:nth-child(2){
    margin-bottom: 60px;
}
.feature-list li:first-child:after {
    top: 10px;
}
.dung-thu-wrapper, .btn-watch-video {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.btn-dung-thu{
    background : -webkit-linear-gradient(top, rgb(249, 226, 52) 00%, rgb(251, 179, 64) 99%);
    background : -moz-linear-gradient(top, rgb(249, 226, 52) 00%, rgb(251, 179, 64) 99%);
    background : -o-linear-gradient(top, rgb(249, 226, 52) 00%, rgb(251, 179, 64) 99%);
    background : -ms-linear-gradient(top, rgb(249, 226, 52) 00%, rgb(251, 179, 64) 99%);
    font-size: 1.2em;
    font-weight: 700;
    padding: 20px;
    color: #046724;
    border-radius: 10px;
    display: inline-block;
    letter-spacing: 1px;
}
.section-2{
    margin-bottom: 95px;
}
.section-2 .container-fluid {
    max-width: 1575px;
}
.title-section-2{
    color: #fff;
    letter-spacing: .8px;
    text-align: center;
}
.shield-item img {
    margin-bottom: 15px;
}
.shield-item .shield-card {
    text-align: center;
    color: #fff;
}
.shield-item .shield-card .shield-title {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 37px;
}
.shield-item .shield-card .shield-description {
    font-size: 26px;
    opacity: .7;
}
.section-3 {
    background: url("../images/new_landing_page/bg-doctor.png") no-repeat;
    background-position: -8px 0;
    position: relative;
    background-size: 100%;
    margin-bottom: 130px;
 }
.section-3 h3.title-section-3 {
    position: absolute;
    z-index: 1;
    text-align: center;
    top: 108px;
    width: 100%;
    color: #fff;
    letter-spacing: 1px;
}
.section-3 .container-fluid.container-feature {
    padding-top: 222px;
    max-width: 79%;
}
.section-3 .container-fluid .featured-item {
    margin-top: 50px;
    text-align: center;
}
.section-3 .container-fluid .featured-item img {
    max-width: 300px;
    margin-bottom: 30px;
}
.section-3 .container-fluid .featured-item .feature-title {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 500;
}

.section-3 .cta-feature-section {
    width: 81%;
    margin-top: 50px;
    padding: 50px 80px;
    background: -webkit-linear-gradient(top, #f9e234 0%, #fbb340 99%);
    background: -moz-linear-gradient(top, #f9e234 0%, #fbb340 99%);
    background: -o-linear-gradient(top, #f9e234 0%, #fbb340 99%);
    background: -ms-linear-gradient(top, #f9e234 0%, #fbb340 99%);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.section-3 .cta-feature-section .cta-feature-text h2 {
    font-size: 64px;
    margin: 0;
    color: #1f9243;
    font-weight: 700;
}
.section-3 .cta-feature-section .cta-feature-text span {
    font-size: 35px;
    word-spacing: 1.2px;
}
.section-3 .cta-feature-section .cta-button {
    background: -webkit-linear-gradient(top, #60de75 0%, #339349 90%);
    background: -moz-linear-gradient(top, #60de75 0%, #339349 90%);
    background: -o-linear-gradient(top, #60de75 0%, #339349 90%);
    background: -ms-linear-gradient(top, #60de75 0%, #339349 90%);
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    align-self: center;
    padding: 35px 55px;
    border-radius: 20px;
}
.section-4 .container-fluid {
    max-width: 1575px;
}

.section-4 .hdsd-wrapper {
    position: relative;
}
.section-4 .hdsd-wrapper .view-video {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;
    background: -webkit-linear-gradient(top, #f9e234 0%, #fbb340 99%);
    background: -moz-linear-gradient(top, #f9e234 0%, #fbb340 99%);
    background: -o-linear-gradient(top, #f9e234 0%, #fbb340 99%);
    background: -ms-linear-gradient(top, #f9e234 0%, #fbb340 99%);
    font-size: 2.4em;
    font-weight: 700;
    padding: 20px 50px;
    border-radius: 20px;
    color: #fff;
    color: #1f9243;
}
.section-4 .video-qr-wrapper{
    margin-bottom: 168px;
}
.section-4 .customer-wrapper h3{
    color: #fff;
}
.section-4 .customer-wrapper{
    border-bottom: 5px dashed #0d7c37;
    padding-bottom: 75px;
}
.custom-maxwidth {
    max-width: 1575px;
}

.section-5 {
    padding-top: 120px;
}
.section-5 .col-lg-7 h3 {
    margin-bottom: 60px;
    color: #fff;
}
.section-5 .solution-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.section-5 .solution-list li {
    position: relative;
    padding-left: 55px;
    font-size: 26px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.section-5 .solution-list li:after {
    content: "";
    background: url("../images/new_landing_page/icon-list.png") no-repeat;
    background-size: cover;
    width: 50px;
    height: 58px;
    position: absolute;
    left: 0;
    top: -5px;
}
.section-5 .frm-register {
    background: -webkit-linear-gradient(top, #f9e234 0%, #fbb340 99%);
    background: -moz-linear-gradient(top, #f9e234 0%, #fbb340 99%);
    background: -o-linear-gradient(top, #f9e234 0%, #fbb340 99%);
    background: -ms-linear-gradient(top, #f9e234 0%, #fbb340 99%);
    padding: 70px 70px 50px 70px;
    border-radius: 20px 20px 0 0;
    position: relative;
}
.section-5 .frm-register input {
    padding: 15px;
    font-size: 30px;
    margin-bottom: 20px;
}
.section-5 .frm-register .btn-submit {
    background: -webkit-linear-gradient(top, #54d068 0%, #339349 90%);
    background: -moz-linear-gradient(top, #54d068 0%, #339349 90%);
    background: -o-linear-gradient(top, #54d068 0%, #339349 90%);
    background: -ms-linear-gradient(top, #54d068 0%, #339349 90%);
    border: none;
    color: #fff;
    font-size: 30px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}
.footer {
    background: #fff;
    padding: 40px 0;
}
.footer-left-wrapper{
	margin-top: 30px;
}
.footer .footer-left-wrapper .logo {
    width: 260px;
}
.footer .footer-left-wrapper p {
    font-size: 30px;
    margin-top: 1rem;
}
.footer .get-app .qrcode {
    width: 150px;
}
.footer .get-app a {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}
.footer .get-app a img {
    width: 200px;
}
.footer .footer-right-wrapper ul {
    padding-top: 30px;
    list-style-type: none;
    margin: 0;
}
.footer .footer-right-wrapper ul li {
    font-size: 20px;
    position: relative;
    margin-bottom: 25px;
}
.footer .footer-right-wrapper ul li .office {
    font-weight: 700;
    margin-bottom: .5em;
}
.footer .footer-right-wrapper ul li:before {
    content: "";
    width: 30px;
    background: url("../images/new_landing_page/icon-location.png") no-repeat;
    height: 35px;
    position: absolute;
    left: -24px;
}
.footer .footer-right-wrapper .contact {
    padding-left: 30px;
    font-size: 20px;
}
.footer .footer-right-wrapper .contact span:not(:last-child) {
    margin-right: 80px;
}
.footer .footer-right-wrapper .contact i {
    color: #056d26;
    margin-right: 10px;
    font-size: 25px;
}

.navbar .navbar-brand img {
    width: 200px;
    margin-left: 100px;
}
.navbar .navbar-nav li a.nav-link {
    padding: 30px;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}
.navbar .navbar-nav li:last-child a.nav-link {
    padding-right: 0;
}
.navbar .navbar-nav li a.nav-link:hover {
    color: #fbb93e;
}
.navbar .navbar-nav li a.nav-link:visited {
    color: #fff;
}
.alert-register{
    display: none;
    position: absolute;
    top: 10px;
}
.section-1 .btn-watch-video a{
	color: #fff;
    font-size: 1.2em;
}
.section-4 .logo-partner{
    display: flex;
    justify-content: space-around;
}
.navbar-toggler-icon{
    background: none;
    font-size: 1.5em;
}
.navbar-light .navbar-toggler-icon{
    background: none;
    font-size: 1.5em;
    height: auto;
    width: auto;
    color: #fff;
}
.btn-dung-thu:hover{
    color: #fff;
}
.cf7-frm-wrapper {
    padding: 70px 70px 50px 70px;
    background: -webkit-linear-gradient(top, #f9e234 0%, #fbb340 99%);
    background: -moz-linear-gradient(top, #f9e234 0%, #fbb340 99%);
    background: -o-linear-gradient(top, #f9e234 0%, #fbb340 99%);
    background: -ms-linear-gradient(top, #f9e234 0%, #fbb340 99%);
    border-radius: 20px 20px 0 0;
    position: relative;
}
.cf7-frm-wrapper .screen-reader-response p, .cf7-frm-wrapper .screen-reader-response ul{
    margin: 0;
}
.cf7-frm-wrapper .wpcf7-form-control-wrap input {
    padding: 15px;
    font-size: 1.2em;
}
.cf7-frm-wrapper .wpcf7-form-control-qd-password .wpcf7-form-control-wrap {
    margin-bottom: 20px;
}
.cf7-frm-wrapper .wpcf7-submit {
    background: -webkit-linear-gradient(top, #54d068 0%, #339349 90%);
    background: -moz-linear-gradient(top, #54d068 0%, #339349 90%);
    background: -o-linear-gradient(top, #54d068 0%, #339349 90%);
    background: -ms-linear-gradient(top, #54d068 0%, #339349 90%);
    border: none;
    color: #fff;
    font-size: 1.5em;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
}
.footer .footer-right-wrapper .get-app-store-bottom {
    display: none;
}

.banner-success{
    background: url(../images/new_landing_page/register-success.png) no-repeat center;
    background-repeat: no-repeat;
	height: 765px;
	background-size: 70%;
}

/*responsive*/
@media (min-width: 1480px) {
    .container {
        max-width:1260px;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width:1560px;
    }
}
@media (max-width:1680px) {
    .feature-list-wrapper {
        align-self: center;
    }
    .feature-list-wrapper .giai-phap {
        font-size: 2.3em;
    }
    .banner-1{
        width: 100%;
    }
    .feature-list li,
    .section-5 .solution-list li{
        font-size: 1.4em;
        margin-bottom: 30px;
    }
    .feature-list li:first-child, .feature-list li:nth-child(2) {
        margin-bottom: 30px
    }
    .feature-list li:after,
    .section-5 .solution-list li:after{
        width: 35px;
        height: 38px;
    }
    .btn-dung-thu {
        padding:20px 30px;
		font-size: .8em;
        border-radius: 10px;
    }
    .dung-thu-wrapper, .btn-watch-video {
        font-size: 1.4em;
    }
    .navbar .navbar-brand img {
        margin-left: 50px;
    }
    .navbar .navbar-nav {
        margin-right: 30px;
    }
    .navbar .navbar-nav li a.nav-link {
        padding:15px;
        font-size: 1.4em;
    }
    h3{
        font-size: 2.6em;
    }
    .shield-item .shield-card .shield-title {
        font-size: 1.8em;
    }
    .shield-item .shield-card .shield-description {
        font-size: 1.4em
    }
    .section-3 {
        background-size: 1480px;
        background-position: center top;
        padding-top: 135px;
    }
    .section-3 h3.title-section-3{
        font-size: 1.6em;
        top: 69px;
    }
    .section-3 .container-fluid.container-feature {
        max-width: 71%;
        padding-top: 50px;
    }
    .section-3 .container-fluid .featured-item .feature-title {
        font-size: 1.6em;
        top: 69px;
    }

    .section-3 .cta-feature-section {
        width: 1220px;
        margin-top:45px;
        padding: 30px 60px;
    }
    .section-3 .cta-feature-section .cta-button {
        font-size: 1.1em;
        padding: 20px 30px;
        border-radius: 10px;
    }
    .section-3 .container-fluid .featured-item {
        margin-top: 0;
    }
    .section-3 .cta-feature-section .cta-feature-text h2 {
        font-size: 3em;
    }
    .section-3 .cta-feature-section .cta-feature-text span {
        font-size: 1.5em
    }
}

@media (max-width: 1440px) {
    .custom-maxwidth, .section-4 .customer-wrapper{
        max-width: 1200px;
    }
    .section-4 .customer-wrapper{
        margin: 0 auto;
    }

    .section-3 {
        background-size: 1368px;
        background-position: 20px 0;
        padding-top: 135px;
    }
	.feature-list li, .section-5 .solution-list li{
		font-size: 1.2em;
	}
    .section-3 .container-fluid .featured-item img{
        max-width: 210px;
    }
    .section-3 .container-fluid.container-feature{
        max-width: 80%;
        padding-top: 40px;
    }
    .section-3 .cta-feature-section{
        width: 1115px;
    }

}

@media (max-width:1366px) {
    .section-2 {
        margin-bottom: 75px;
    }
    .section-3 {
        background-position: top center;
    }
}

@media (max-width: 991px) {
    body {
        padding-top: 78px;
    }
    .navbar .navbar-brand img{
        margin-left: 0;
        width: 120px;
    }
    .section-1 .banner1 {
        background: none;
    }
    .banner-1 {
        width: 100%;
        height: auto;
        opacity: 1;
    }
    .feature-list-wrapper .giai-phap{
        text-align: center;
        font-size: 1.6em;
        margin-bottom: 25px;
    }

    .feature-list-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .feature-list{
        width: 78%;
        margin: auto;
        text-align: left;
    }
    .feature-list li:before {
        content:"";
        background: url("../images/new_landing_page/icon-list.png") no-repeat;
        width: 38px;
        height: 43px;
        position: absolute;
        left: 0;
        top: -3px;

    }
    .feature-list li{
        padding: 0;
        padding-left: 55px;
    }
    .feature-list li:first-child:before {
        top: 15px;
    }
    .feature-list li:first-child{
        text-align: left;
    }
    .feature-list li:after{
        display: none;
    }
    .section-1 .btn-watch-video{
        order: 2;
        justify-content: center;
        font-size: 16px;
    }
    .section-1 .btn-dung-thu{
        width: 100%;
        text-align: center;
        margin: 35px 0;
        font-size: 16px;
        border-radius: 5px;
        padding: 12px;
    }
    .section-3 {
        background: none;
        padding-top: 0px;
        margin-bottom: 100px;
    }
    .section-3 h3.title-section-3{
        padding: 0 15px;
        position: relative;
        top: initial;
        margin: 0;
    }
    .section-3 .container-fluid .featured-item{
        
        background:  #fef6f0;
        padding: 20px 0;
    }
    .section-3 .container-fluid .featured-item:first-child{
        border-radius: 20px 20px 0 0;
    }
    .section-3 .container-fluid.container-feature{
        padding-top: 30px;
    }
    .section-3 .cta-feature-section{
        width: 100%;
        margin-top: 0;
        border-radius: 0;
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }
    .section-3 .cta-feature-section .cta-feature-text {
        margin-bottom: 20px;
    }
    .section-3 .cta-feature-section .cta-button{
        width: 100%;
        border-radius: 5px;
        padding: 15px 40px;
        font-size: 16px;
    }
    .section-4 .container-fluid{
        max-width: 100%;
    }
    .section-4 .hdsd-wrapper .view-video{
        padding: 11px 15px;
        min-width: initial;
        width: 150px;
        font-size: 16px;
        border-radius: 5px;
        bottom: -21px;
    }
    .section-4 .customer-wrapper h3{
        text-align: center;
    }
    .section-5 .col-lg-7 h3{
        text-align: center;
        font-size: 1.4em;
        margin-bottom: 40px;
    }
    .section-5 .solution-list {
        margin: auto;
        max-width: 82.6%;
    }
    .section-3 .container-fluid .featured-item img{
        width: 55%;
        margin-bottom: 0;
    }
    .section-3 .container-fluid .featured-item .feature-title{
        font-size: 22px;
    }
    .navbar-light .navbar-toggler{
        color: rgba(255,255,255,.5);
        border-color: rgba(255,255,255,.1);
    }
    .section-5 .solution-list li{
        font-size: 15px;
        margin-bottom: 25px;
        padding-left: 40px;
    }
    .section-5 .solution-list li:after{
        width: 31px;
        height: 34px;
    }
    h3{
        font-size: 1.4em;
    }
    .section-3 .cta-feature-section .cta-feature-text h2{
        font-size: 1.5em;
        font-weight: 900;
    }
    .section-3 .cta-feature-section .cta-feature-text span{
        font-size: 16px;
    }
    .shield-item .shield-card .shield-title{
        font-size: 1.4em;
        margin-bottom: 15px;
    }
    .shield-item .shield-card .shield-description{
        font-size: 16px;
    }
    .shield-item {
        margin-bottom: 25px;
    }
    .section-2{
        padding: 0;
    }
    .feature-list li {
        font-size: 16px;
    }
    .feature-list li:last-child{
        margin-bottom: 5px;
    }
    .footer .footer-left-wrapper .logo {
        width: 160px;
    }
    .footer .footer-left-wrapper p{
        font-size: 16px;
        font-weight: 700;
        margin-top: 10px;
    }
    .footer .footer-right-wrapper ul{
        padding-left:30px;
        padding-top:0;
    }
    .footer .footer-right-wrapper .contact{
        display: flex;
        flex-direction: column;
        padding: 0;
        font-size: 1em;
    }
    .footer-left-wrapper {
        margin-bottom: 20px;
    }
    .footer-right-wrapper p{
        font-size: 16px;
    }
	.navbar .navbar-nav li a.nav-link {
		padding: 5px;
		color: #fff;
		font-size: 1em;
		font-weight: 500;
	}
    #navbarNav{
        margin-top: 10px;
    }
    .section-1{
        padding: 0;
    }
    .section-1 .navbar{
        background: #086c27;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .navbar .navbar-nav{
        margin-right: 0;
    }
    .section-1 .navbar .nav-item {
        border-bottom: 1px solid #fff;
    }
    .footer .get-app {
        display: none;
    }
    .footer .footer-right-wrapper .get-app-store-bottom {
        display: flex;
        margin-top: 30px;
    }
    .footer .footer-right-wrapper .get-app-store-bottom a:first-child{
        margin-right: 30px;
    }
    .footer .get-app .get-app-store img{
        width: 100%;
    }
    .section-4 .video-qr-wrapper{
        margin-bottom: 100px;
    }
    .section-4 .logo-partner{
        justify-content: space-between;
    }
    .section-4 .logo-partner img {
        width: 100px;
    }
    .section-5{
        padding-top: 70px;
    }
    .section-5 .left-contain-wrapper{
        margin-bottom: 20px;
    }
    .cf7-frm-wrapper{
        padding:20px;
        border-radius: 15px 15px 0 0;
    }
    .cf7-frm-wrapper .wpcf7-form-control-wrap input{
        font-size: 1em;
    }
    .cf7-frm-wrapper .wpcf7-submit{
        font-size: 1.2em;
        padding:15px;
    }
    .footer .footer-right-wrapper .contact span:not(:last-child){
        margin: 0 0 15px 0;
    }
	.btn{
		margin-top: 10px;
	}
	.banner-success{
		height: 240px;
	}
}

.wpcf7-submit{
	cursor: pointer;
}

