.background-orange {
  background: linear-gradient(180deg, #ffaa00 0%, #eb7f00 100%);
}

.background-gradiant-green {
  background: linear-gradient(
    270deg,
    rgba(36, 139, 61, 0) 0%,
    #248b3d 50%,
    rgba(36, 139, 61, 0) 100%
  );
}

.background-orange {
  background: linear-gradient(180deg, #ffaa00 0%, #eb7f00 100%);
}

.background-white {
  background: #fff;
}

.color-yellow {
  color: #f9f331;
}

.color-green {
  color: #33b44a;
}

.text-yellow {
  color: #f9f331;
}

.border-radius-20 {
  border-radius: 20px;
}

.border-radius-8 {
  border-radius: 8px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-35 {
  font-size: 35px;
}

.font-size-40 {
  font-size: 40px;
}

.btn-orange {
  background: linear-gradient(180deg, #ffaa00 0%, #eb7f00 100%);
  border-color: linear-gradient(180deg, #ffaa00 0%, #eb7f00 100%);
  color: #fff;
}

.border-bottom-white {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.border-bottom-grey {
  border-bottom: 1px solid #e0e0e0;
}

.m-auto-0 {
  margin: auto 0;
}
.li1 {
  margin-left: -15%;
  margin-bottom: 15px;
}
.mrleft-10 {
  margin-left: 10%;
}
.width35 {
  width: 35%!important;
}
.footer {
    background: #fff;
    padding: 40px 0;
}
.footer-left-wrapper{
  margin-top: 30px;
}
.footer .footer-left-wrapper .logo {
    width: 260px;
}
.footer .footer-left-wrapper p {
    font-size: 30px;
    margin-top: 1rem;
}
.footer .get-app .qrcode {
    width: 150px;
}
.footer .get-app a {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}
.footer .get-app a img {
    width: 200px;
}
.footer .footer-right-wrapper ul {
    padding-top: 30px;
    list-style-type: none;
    margin: 0;
}
.footer .footer-right-wrapper ul li {
    font-size: 20px;
    position: relative;
    margin-bottom: 25px;
}
.footer .footer-right-wrapper ul li .office {
    font-weight: 700;
    margin-bottom: .5em;
}
.footer .footer-right-wrapper ul li:before {
    content: "";
    width: 30px;
    background: url("../../images/new_landing_page/icon-location.png") no-repeat;
    height: 35px;
    position: absolute;
    left: -24px;
}
.footer .footer-right-wrapper .contact {
    padding-left: 30px;
    font-size: 20px;
}
.footer .footer-right-wrapper .contact span:not(:last-child) {
    margin-right: 80px;
}
.footer .footer-right-wrapper .contact i {
    color: #056d26;
    margin-right: 10px;
    font-size: 25px;
}