* {
  font-size: 16px;
}

.baner {
  width: 100%;
  height: 100vh;
  padding-bottom: 20px;
  position: relative;
}

.baner_main {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: url("../../images/img/background_baner_top.png");
}

.baner_content {
  padding: 50px 0px 0;
}

.btn-more_info {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}

.logo {
  flex-basis: 50%;
}

.baner-main_title {
  font-size: 60px;
  color: #f9f331;
}

.baner-sub_title {
  font-size: 35px;
  margin: auto;
}

.baner-content_text {
  width: max-content;
  margin: auto;
  font-size: 20px;
  list-style-image: url(../../images/img/icon_check.png);
}

.cause-effect_title {
  font-size: 30px;
}

.cause-content_item {
  min-height: 160px;
}

.effect-content {
  list-style-image: url(../../images/img/icin_attention.png);
}

.effect-content li::marker {
  padding-top: 10px;
}

.effect-image {
  background-image: url(../../images/img/background_effect.png);
  background-repeat: no-repeat;
  min-height: 500px;
  margin-bottom: -30px;
}

.benefit {
  padding: 70px 0;
  width: 100%;
  background-image: url(../../images/img/background_benifit.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.benefit-icon,
.promo-icon {
  width: 100px;
}

.procedure-main {
  padding-top: 70px;
}

.vertical-tiles {
  width: 1px;
  height: 33px;
  background: #c4c4c4;
}

.procedure-icon {
  width: 40px;
}

.procedure-benifit_step {
  padding: 25px 10px;
  border: solid 1px #ffaa00;
}

.reason {
  padding-top: 50px;
}

.client,
.partner {
  background: #ebf7ed;
}

.client-main,
.rating-main,
.review-main {
  padding: 70px 0;
}

.client-logo_item {
  width: 170px;
  height: 100px;
}

.client .category-name {
  width: 120px;
}

.rating .rating-item {
  min-height: 200px;
}

.review .img-thumnai {
  width: 170px;
  height: 100px;
  overflow: hidden;
}

.review .description {
  width: calc(100% - 170px);
}

.review .img-thumnai img {
  object-fit: cover;
}

.review-client_content {
  border: 1px solid #e0e0e0;
  border-radius: 20px 20px 20px 0px;
  min-height: 350px;
  position: relative;
}

.info-member-review {
  position: absolute;
  bottom: 30px;
}

.partner .partner-main {
  padding: 70px 0;
}

.promo {
  background-image: url(../../images/img/background_promo.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.promo-main {
  padding: 70px 0;
}

.promo .detail {
  list-style-image: url(../../images/img/icon_star.png);
}

.promo .registration {
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
}

.promo-registration {
  margin-bottom: -70px;
}

.review .carousel-indicators li {
  background-color: #33b44a;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.review .carousel-indicators {
  bottom: -50px;
}

.isShowMobile {
  display: none;
}
.isShowDesktop {
  display: block;
}

@media (max-width: 766px) {
  .isShowMobile {
    display: block;
  }

  .isShowDesktop {
    display: none;
  }

  .isShowMobile .vertical-tiles {
    transform: rotate(90deg);
  }
}
